@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: black;
}

main{
    background-color: black;
    min-height: 200vh;
}

.winter img{
    width: 100%;
    margin: auto;
}

.winter{
    border-bottom: 4px solid rgb(237, 198, 15);
}

.seasons{
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    font-size: 30px;
    border-bottom: 4px solid rgb(237, 198, 15);
    margin-top: 100px;
}

.seasons ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seasons ul li{
    position: relative;
    list-style: none;
}

.seasons ul li a{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500px;
    transition: 0.6s;
}

.seasons a:hover{
    color: rgb(237, 198, 15);
}


.panel{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    font-size: 20px;
    border-bottom: 4px solid rgb(237, 198, 15);
}

.panel .logo{
    position: relative;
    transition: 0.6s;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
}


.panel img{
    width: 5%;
}


.panel ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel ul li{
    position: relative;
    list-style: none;
}

.panel ul li a{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500px;
    transition: 0.6s;
    width: 80px;
}

.panel a:hover{
    color: rgb(237, 198, 15);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}


.slider{
    overflow: hidden;
    width: 100%;
    border-bottom: 4px solid rgb(237, 198, 15);
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0%;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.content{
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(237, 198, 15);
    width: 600px;
}

.content a:hover{
    background-color: rgba(255, 255, 255, 0.459);
}

.content p{
    font-size: 20px;
}

.content .intr p{
    width: 550px;
    margin: auto;
}

.content .intr{
    padding: 150px;
}

.content .nws{
    background-image: url("images/nws.jpg");
    background-size: cover;
    padding: 200px;
    border-top: 4px solid rgb(237, 198, 15);
}

.content .wrld{
    background-image: url("images/wrld2.jpg");
    background-size: cover;
    padding: 200px;
}

.content .gm{
    background-image: url("images/gm2.jpg");
    background-size: cover;
    padding: 200px;
    border-bottom: 4px solid rgb(237, 198, 15);
}

.button{
    border: 4px solid rgb(237, 198, 15);
    color: white;
    background-color: rgb(237, 198, 15);
    text-decoration: none;
    padding: 10px;

}

.content .nws p{
    margin-bottom: 50px;
}
.content .wrld p{
    margin-bottom: 50px;
}

.content .gm p{
    margin-bottom: 50px;
}

footer{
    color: #fff;
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.wntrcontent .wintr p{
    width: 550px;
    margin: auto;
}

.wntrcontent .wintr{
    padding: 150px;
}

.wntrcontent h1{
    font-size: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(237, 198, 15);
    width: 600px;
}

.wntrcontent{
    text-align: center;
    color: #fff;
}

.wntrcontent p{
    margin-bottom: 50px;
    font-size: 20px;
}

.wntrcontent .wintfracs{
    background-image: url("images/gangcold.jpg");
    background-size: cover;
    padding: 200px;
    border-top: 4px solid rgb(237, 198, 15);
}

.wntrcontent .winthaz{
    background-image: url("images/frz2.jpg");
    background-size: cover;
    padding: 200px;
}

.wntrcontent .wintmuts{
    background-image: url("images/frzmonst.jpg");
    background-size: cover;
    padding: 200px;
    border-bottom: 4px solid rgb(237, 198, 15);
}

.seasons .first{
    color: rgb(237, 198, 15);
}
.seasons .sec{
    color: rgb(237, 198, 15);
}
.seasons .thrd{
    color: rgb(237, 198, 15);
}
.seasons .frth{
    color: rgb(237, 198, 15);
}