body{
    background-color: black;
}

main{
    background-color: black;
    min-height: 200vh;
}

.panel{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    font-size: 20px;
}

.panel .logo{
    position: relative;
    transition: 0.6s;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    margin-right: 65%;
}


.panel img{
    width: 5%;
}


.panel ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel ul li{
    position: relative;
    list-style: none;
}

.panel ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider{
    margin-top: 80px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0%;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.content{
    text-align: center;
    color: #fff;
}


.content .intr p{
    width: 500px;
    margin: auto;
}

.content .intr{
    padding: 150px;
}

.content .nws{
    background-image: url("images/nws.jpg");
    background-size: cover;
    padding: 200px;
}

.content .wrld{
    background-image: url("images/wrld2.jpg");
    background-size: cover;
    padding: 200px;
}

.content .gm{
    background-image: url("images/gm2.jpg");
    background-size: cover;
    padding: 200px;
}